:root {
    /* Light Mode */
    --light-bg: hsla(246, 100%, 96%, 1);
    --light-bg-secondary: hsla(246, 100%, 80%, 1);
    --light-bg-tertiary: hsla(244, 80%, 72%, 1);
    --light-complement: hsla(261, 82%, 32%, .2);
    --light-tertiary: hsla(250, 40%, 45%, 1);
    --light-secondary: hsla(251, 48%, 39%, 1);
    --light-primary: hsla(251, 60%, 34%, 1);
    --light-main-low: hsla(248, 64%, 26%, 1);
    --light-main-high: hsla(248, 88%, 16%, 1);

    /* Dark Mode */
    --dark-bg: hsla(261, 89%, 7%, 1);
    --dark-bg-secondary: hsla(261, 73%, 16%, 1);
    --dark-bg-tertiary: hsla(261, 80%, 22%, 1);
    --dark-complement: hsla(255, 96%, 91%, .12);
    --dark-tertiary: hsla(248, 24%, 64%, 1);
    --dark-secondary: hsla(246, 28%, 74%, 1);
    --dark-primary: hsla(248, 48%, 84%, 1);
    --dark-main-low: hsla(248, 100%, 94%, 1);
    --dark-main-high: hsla(248, 100%, 97%, 1);

    /* Glass Mode */
    --glass-bg: hsla(261, 89%, 7%, .48);
    --glass-bg-secondary: hsla(260, 96%, 54%, .16);
    --glass-bg-tertiary: hsla(260, 96%, 54%, .28);
    --glass-complement: hsla(255, 96%, 91%, .12);
    --glass-tertiary: hsla(248, 24%, 64%, 1);
    --glass-secondary: hsla(246, 28%, 74%, 1);
    --glass-primary: hsla(248, 48%, 84%, 1);
    --glass-main-low: hsla(248, 100%, 94%, 1);
    --glass-main-high: hsla(248, 100%, 97%, 1);

    /* Blue Colors */
    --blue-50: hsla(208, 92.3%, 94.9%, 1);
    --blue-100: hsla(211, 92.2%, 90%, 1);
    --blue-200: hsla(213, 92.2%, 80%, 1);
    --blue-300: hsla(214, 93.5%, 70%, 1);
    --blue-400: hsla(216, 94.1%, 60%, 1);
    --blue-500: hsla(217, 95.3%, 50%, 1);
    --blue-600: hsla(217, 96.1%, 40%, 1);
    --blue-700: hsla(218, 97.4%, 30%, 1);
    --blue-800: hsla(219, 98%, 20%, 1);
    --blue-900: hsla(219, 100%, 10%, 1);
    --blue-950: hsla(219, 100%, 5.1%, 1);

    /* Purple Colors */
    --purple-50: hsla(253, 100%, 95.5%, 1);
    --purple-100: hsla(255, 95.7%, 90.8%, 1);
    --purple-200: hsla(256, 95.7%, 81.6%, 1);
    --purple-300: hsla(257, 95.7%, 72.4%, 1);
    --purple-400: hsla(258, 95.7%, 63.1%, 1);
    --purple-500: hsla(260, 95.7%, 53.9%, 1);
    --purple-600: hsla(260, 81.8%, 43.1%, 1);
    --purple-700: hsla(261, 81.8%, 32.4%, 1);
    --purple-800: hsla(261, 81.8%, 21.6%, 1);
    --purple-900: hsla(261, 81.8%, 10.8%, 1);
    --purple-950: hsla(261, 85.2%, 5.3%, 1);

    /* Orange Colors */
    --orange-50: hsla(29, 100%, 95.1%, 1);
    --orange-100: hsla(29, 100%, 90%, 1);
    --orange-200: hsla(30, 100%, 80%, 1);
    --orange-300: hsla(30, 100%, 70.2%, 1);
    --orange-400: hsla(31, 100%, 60.2%, 1);
    --orange-500: hsla(31, 100%, 50.2%, 1);
    --orange-600: hsla(31, 99%, 40.2%, 1);
    --orange-700: hsla(31, 98.7%, 30.2%, 1);
    --orange-800: hsla(32, 100%, 20%, 1);
    --orange-900: hsla(32, 100%, 10%, 1);
    --orange-950: hsla(32, 100%, 5.1%, 1);

    /* Red Colors */
    --red-50: hsla(346, 91.7%, 95.3%, 1);
    --red-100: hsla(346, 87.5%, 90.6%, 1);
    --red-200: hsla(345, 87.5%, 81.2%, 1);
    --red-300: hsla(344, 88.8%, 72%, 1);
    --red-400: hsla(343, 88.5%, 62.5%, 1);
    --red-500: hsla(342, 88.3%, 53.1%, 1);
    --red-600: hsla(341, 77.9%, 42.5%, 1);
    --red-700: hsla(340, 77.9%, 32%, 1);
    --red-800: hsla(339, 77.8%, 21.2%, 1);
    --red-950: hsla(337, 77.8%, 5.3%, 1);
    --red-900: hsla(339, 77.8%, 10.6%, 1);

}

.mode-light {
    --dark-bg: hsla(246, 100%, 96%, 1);
    --dark-bg-secondary: hsla(246, 100%, 80%, 1);
    --dark-bg-tertiary: hsla(244, 80%, 72%, 1);
    --dark-complement: hsla(261, 82%, 32%, .2);
    --dark-tertiary: hsla(250, 40%, 45%, 1);
    --dark-secondary: hsla(251, 48%, 39%, 1);
    --dark-primary: hsla(251, 60%, 34%, 1);
    --dark-main-low: hsla(248, 64%, 26%, 1);
    --dark-main-high: hsla(248, 88%, 16%, 1);
}

.mode-dark {
    --dark-bg: hsla(261, 89%, 7%, 1);
    --dark-bg-secondary: hsla(261, 73%, 16%, 1);
    --dark-bg-tertiary: hsla(261, 80%, 22%, 1);
    --dark-complement: hsla(255, 96%, 91%, .12);
    --dark-tertiary: hsla(248, 24%, 64%, 1);
    --dark-secondary: hsla(248, 24%, 64%, 1);
    --dark-primary: hsla(248, 48%, 84%, 1);
    --dark-main-low: hsla(248, 100%, 94%, 1);
    --dark-main-high: hsla(248, 100%, 97%, 1);
}