/* Importacion de guías de estilo */
@import url(guidelines/spacings.css);
@import url(guidelines/colors.css);
@import url(guidelines/typography.css);

/* Importación de componentes */
@import url(components/buttons.css);
@import url(components/icons.css);
@import url(components/cards.css);

/* Reseteo básico de valores */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos personalizados */
:root {
    --subtitle-light: linear-gradient(180deg, #C8C3EA 0%, #F2F0FF 48%, #9A73FC 100%);
    --subtitle-dark: linear-gradient(180deg, #5445A1 0%, #0E054D 100%);
}

body {
    background-color: var(--purple-950);
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--frame-values-container-max-width, 67.5rem);
}

/* Estilos del Header */
nav {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 5.5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--glass-bg);
    padding-inline: var(--layout-values-margin-inline, 8rem);
    backdrop-filter: blur(16px);
    z-index: 10;
    transition: all 300ms ease;
}

nav::before {
    position: absolute;
    width: 100%;
    /* max-width: var(--frame-values-container-max-width, 67.5rem); */
    content: '';
    height: 1px;
    bottom: 0;
    background: linear-gradient(to right, hsla(255, 96%, 91%, 0) 0%, var(--purple-100) 50%, hsla(255, 96%, 91%, 0) 100%);
    opacity: 12%;
}

nav .main-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid white; */
}

.logo {
    display: block;
    width: 12.5rem;
    height: auto;
}

.items-cta {
    display: flex;
    align-items: center;
    gap: var(--layout-values-gap-items, 1.5rem);
}

/* Estilos generales del sitio */
.section {
    overflow: hidden;
    display: flex;
    padding: var(--layout-values-margin-block, 10rem) var(--layout-values-margin-inline, 8rem);
    flex-direction: column;
    align-items: center;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: var(--frame-values-container-max-width, 67.5rem);
    gap: var(--layout-values-gap-layout, 4rem);
}

.p-absolute {
    position: absolute;
}

.noise {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/bg_noise.png);
    background-repeat: repeat;
    background-size: 12rem;
    mix-blend-mode: overlay;
    opacity: 0.48;
    z-index: -1;
}

.light {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60rem !important;
    filter: blur(48px);
    opacity: .4 !important;
    z-index: -2;
}

.grid {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100% !important;
    height: 100% !important;
    z-index: -3;
    filter: blur(1px);
}

.graph {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -4;
}

.decorative-text-light {
    background: var(--subtitle-light, linear-gradient(180deg, #C8C3EA 0%, #F2F0FF 48%, #9A73FC 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.decorative-text-dark {
    background: var(--subtitle-dark, linear-gradient(180deg, #5445A1 0%, #0E054D 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text {
    background: var(--gradients-cta-main, linear-gradient(135deg, #E7F3FE 0%, #FC9 40%, #9A73FC 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--spacings-values-spacing-small, 1rem);
}

.title-area h2 {
    background: var(--subtitle-dark, linear-gradient(180deg, #5445A1 0%, #0E054D 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Estilos de Header */
.header {
    position: relative;
}

.header img {
    opacity: 0.8;
    width: 45rem;
}

.header .section-container {
    gap: var(--spacings-values-spacing-large, 2.5rem);
    text-align: center;
}

.header .section-container .title-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header .section-container h3 {
    color: var(--dark-primary, #C8C3EA);
    max-width: 38rem;
}

.header .section-container .title-area div {
    position: relative;
    width: inherit;
}

.header .section-container .title-area div h1 {
    width: inherit;
    font-size: 10rem;
}

.header .section-container .title-area div h1:last-child {
    top: 0;
    left: 0;
    margin: auto;
    opacity: 0.48;
    filter: blur(6px);
    z-index: -1;
}

/* Estilos de Sobre Mi */
.about-me {
    overflow-y: hidden;
    position: relative;
    padding: 5rem var(--layout-values-margin-inline, 8rem) var(--layout-values-margin-block, 10rem) var(--layout-values-margin-inline, 8rem);
}

.about-me::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--gradients-bgbg-2, linear-gradient(to bottom, hsla(261, 73%, 16%, 0) 0%, var(--dark-bg-secondary) 94%));
    z-index: -5;
}

.biography-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacings-values-spacing-large, 2.5rem);
    max-width: var(--frame-values-elements-max-width, 57.5rem);
    padding: var(--spacings-values-spacing-large, 2.5rem);
    border: 1.5px solid var(--dark-main-high);
    border-radius: var(--border-radius-normal, 2rem);
    background: var(--glass-bg, rgba(13, 2, 34, 0.48));
    backdrop-filter: blur(4px);
}

.biography-cta img {
    width: 15rem;
    border-radius: 15rem;
    border: 2px solid var(--dark-complement);
}

.biography-main {
    display: flex;
    flex-direction: column;
}

.biography-main h3,
.biography-main p.typography-primary-main {
    margin-bottom: var(--spacings-values-spacing-medium, 1.5rem);
}

.biography-main p.typography-secondary-bold {
    margin-bottom: var(--spacings-values-spacing-small, 1rem);
}

.biography-main .links-social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem var(--layout-values-gap-items, 1.5rem);
}

.about-me .graph {
    width: 56rem !important;
}

/* Estilos de Workflow */
.workflow {
    position: relative;
    background: var(--bg, #EDEBFF);
    border-radius: 0 0 2rem 2rem;
}

.workflow .graph {
    width: 64rem;
    top: 16%;
    left: 50%;
    z-index: 0;
}

.workflow .bg-gradient {
    width: 100% !important;
    bottom: -1rem;
    left: 0;
    z-index: 0;
}

.workflow .section-container {
    z-index: 1;
}

.workflow-card-container {
    display: grid;
    grid-gap: var(--layout-values-gap-items, 1.5rem);
    grid-template-columns: repeat(2, 1fr);
}

.workflow-card {
    position: relative;
    display: flex;
}

.workflow-card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--dark-bg-secondary, #A59BFF);
    border-radius: var(--border-radius-normal, 2rem);
    opacity: .04;
    z-index: -1;
}

.workflow-card .workflow-container {
    display: flex;
    width: 100%;
    padding: var(--spacings-values-spacing-large, 2.5rem);
    border-radius: var(--border-radius-normal, 2rem);
    border: 1px solid rgba(62, 15, 150, 0.20);
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.workflow-card .workflow-container .pill {
    display: flex;
    margin-top: auto;
}

.workflow-card img {
    width: 2.5rem;
}

/* Estilos de Servicios */
.services {
    position: relative;
}

.services .graph {
    width: 55rem;
}

.services .section-container .title-area {
    width: 100%;
    text-align: left;
}

.services .section-container .title-area h2 {
    background: var(--subtitle-light, linear-gradient(180deg, #C8C3EA 0%, #F2F0FF 48%, #9A73FC 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-area {
    display: grid;
    grid-gap: var(--layout-values-gap-items, 1.5rem);
    grid-template-columns: repeat(2, 1fr);
}

.service-card {
    display: flex;
    overflow: hidden;
    padding: var(--spacings-values-spacing-large, 2.5rem);
    border-radius: var(--border-radius-normal, 2rem);
    border: 2px solid var(--complement, rgba(220, 209, 254, 0.12));
    background: var(--bg, rgba(13, 2, 34, 0.48));
    flex-direction: column;
    align-items: flex-end;
    backdrop-filter: blur(4px);
}

.service-card:last-child {
    align-items: flex-start;
}

.service-card h3 {
    width: 100%;
    padding-bottom: var(--spacings-values-spacing-small, 1rem);
}

.service-card p {
    width: 100%;
    padding-bottom: var(--spacings-values-spacing-large, 2.5rem);
}

.service-card img {
    height: 20rem;
    border-radius: var(--spacings-values-spacing-xsmall, 0.5rem);
    box-shadow: 0px 4px 32px -8px rgba(179, 155, 253, 0.40);
    border: 2px solid var(--dark-tertiary);
    margin-bottom: -4rem;
}

/* Estilos de Proyectos */
.projects {
    position: relative;
    padding-top: 0;
}

.projects .graph {
    width: 75rem;
}

.projects .section-container .title-area {
    text-align: left;
}

.projects .section-container .title-area h2 {
    background: var(--subtitle-light, linear-gradient(180deg, #C8C3EA 0%, #F2F0FF 48%, #9A73FC 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Estilos de Proyectos */
.image-card-container {
    display: grid;
    grid-gap: var(--layout-values-gap-items, 1.5rem);
    grid-template-columns: repeat(3, 1fr);
}

.image-card:last-child {
    cursor: pointer;
}

/* Estilos de Ultimate Moment */
.ultimate-moment {
    display: flex;
    position: relative;
    overflow: hidden;
    padding: var(--layout-values-margin-block, 10rem) var(--layout-values-margin-inline, 8rem);
    background: var(--light-bg, #EDEBFF);
    flex-direction: column;
}

.ultimate-moment .section-container {
    z-index: 1;
}

.ultimate-moment .bg-gradient {
    width: 100% !important;
    top: -1rem;
    left: 0;
    z-index: 0;
}

.ultimate-moment .grid {
    z-index: 0;
}

.composition {
    width: 100%;
    padding-block: var(--spacings-values-spacing-neutral);
}

.composition-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-composition {
    width: 45rem;
    display: inline-flex;
    border-radius: var(--spacings-values-spacing-small, 1rem);
    border: 2px solid var(--purple-50, #EDE8FF);
    box-shadow: 8px 16px 52px -8px rgba(73, 65, 98, 0.56);
    align-items: flex-start;
    transition: all 200ms ease-out;
}

.image-composition:last-child {
    width: 45rem;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-42.5%);
    rotate: -2deg;
    z-index: 2;
}

.image-composition:nth-child(2) {
    width: 42.5rem;
    z-index: 1;
}

.image-composition:first-child {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-57.5%);
    width: 40rem;
    rotate: 2deg;
    z-index: 0;
}

.composition-container:hover .image-composition:last-child {
    transform: translateX(35%);
    transition: all 200ms ease-in-out;
}

.composition-container:hover .image-composition:first-child {
    transform: translateX(-130%);
    transition: all 200ms ease-in-out;
}

/* Estilos de Footer */
.footer {
    display: flex;
    position: relative;
    padding: 5rem var(--layout-values-margin-inline, 8rem);
    flex-direction: column;
}

.footer .graph {
    width: 65rem;
    top: 100%;
}

.footer .section-container {
    gap: var(--spacings-values-spacing-neutral, 2rem);
    align-items: stretch;
}

.footer .section-container div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--spacings-values-spacing-xsmall, 0px);
}

.footer .section-container>div:nth-child(2) {
    border: 1px solid var(--purple-50, #EDE8FF);
    opacity: 0.24;
}

.footer .section-container div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}