:root {
    --cta-bg: linear-gradient(135deg, hsl(209, 92%, 95%) 0%, hsl(30, 100%, 80%) 50%, hsl(257, 96%, 72%) 100%);
}

/* Reseatear todos los enlaces */
a {
    text-decoration: none;
    color: var(--dark-primary);
    transition: all 200ms ease;
}

/* Estilos de CTA */
.cta,
.pill {
    display: inline-flex;
    border-radius: var(--border-radius-normal, 2rem);
    padding: 2px;
    background: var(--cta-bg);
}

.cta .container,
.pill .container {
    display: inline-flex;
    position: relative;
    background: var(--dark-bg, #0D0222);
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-normal, 2rem);
}

.cta .container::before,
.pill .container::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    opacity: .32;
    background: var(--cta-bg);
    mix-blend-mode: hard-light;
    filter: blur(1rem);
    border-radius: var(--border-radius-normal, 2rem);
    transform: scale(1.1);
    z-index: 0;
}

.cta .container p,
.pill .container p {
    background: var(--cta-bg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* Estilos de tipografía */
    font-family: var(--font-body);
    font-size: var(--size-t-secondary);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    z-index: 1;
}

.cta .container span:last-child {
    width: var(--icon-size-16);
    z-index: 1;
}

.cta .container span:first-child {
    width: var(--icon-size-20);
    z-index: 1;
}

/* Creación de CTA pequeño */
.small-cta .container {
    padding: var(--spacings-values-spacing-xsmall, 0.5rem) var(--spacings-values-spacing-small, 1rem);
    gap: var(--spacings-values-spacing-xsmall, 0.5rem);
}

/* Creación de CTA normal */
.normal-cta .container {
    padding: 0.75rem var(--spacings-values-spacing-medium, 1.5rem);
    gap: var(--spacings-values-spacing-xsmall, 0.5rem);
}

.normal-cta .container p {
    font-family: var(--font-body);
    font-size: var(--size-t-primary);
}

.normal-cta .container span:first-child {
    width: var(--icon-size-24);
}

/* ---- Creación de Button Circle ---- */
.circle-cta .container {
    padding: 0.625rem;
}

.circle-cta .container span.container-icon {
    --change-icon: url(../assets/icons/arrow-up-right.svg);
    background-image: var(--change-icon);
}

/* Creación de píldora */

.pill {
    background: var(--dark-bg, #0D0222);
    padding: 0px;
}

.pill .container {
    gap: var(--spacings-values-spacing-xsmall, 0.5rem);
    padding: var(--spacings-values-spacing-xsmall, 0.5rem) var(--spacings-values-spacing-small, 1rem);
}

.pill .container span:first-child {
    --change-icon: url(../assets/icons/clock.svg);
    background-image: var(--change-icon);
    width: var(--icon-size-16);
}

.pill .container p {
    font-size: var(--size-t-tertiary);
}

/* Micro-interacciones a componente */

a:hover {
    transition: all 300ms ease;
    transform: scale(1.04);
}

a:active {
    transition: all 50ms ease;
    transform: scale(.95);
}

/* Maquetado de Especial CTA */
.special-cta {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--spacings-values-spacing-small, 1rem) var(--spacings-values-spacing-small, 1rem) var(--spacings-values-spacing-small, 1rem) var(--spacings-values-spacing-medium, 1.5rem);
    border-radius: 5rem;
    background: linear-gradient(135deg, #E7F3FE 0%, #FC9 50%, #9A73FC 100%);
    gap: var(--layout-values-gap-items, 1.5rem);
    transition: all 300ms ease;

}

.special-cta::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #E7F3FE 0%, #FC9 50%, #9A73FC 100%);
    filter: blur(32px);
    opacity: 0.4;
    z-index: -1;
}

.special-cta p {
    color: var(--orange-900, #331B00);
}

.special-cta:hover {
    transition: all 300ms ease;
    transform: scale(1.02);
    backface-visibility: hidden;
}

.special-cta:active {
    transition: all 50ms ease;
    transform: scale(.95);
}